# Ignore dependencies
/node_modules/

# Ignore build directory if used
/build/

# Ignore environment-specific files
.env
.env.*

# Ignore logs
*.log

# Ignore npm debug log
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db
